body{
    background-color: rgb(186, 187, 132);
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    width: 600px;
}

.boxes{
    padding: 15px;
    height: 5px;
    width: 5px;
    background: rgb(250, 222, 240);
    border: 1px solid rgb(0, 0, 0);
}