body{
    background-color: rgb(186, 187, 132);
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    width: 800px;
    border: 5px solid rgb(68, 255, 68);
}

.boxes{
    padding: 4px;
    background: white;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray; }